{% for article in projects %}
    <div class="col-lg-12 col-xs-12 col-sm-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title" style="padding-bottom: 0px; margin-bottom: 0px; padding-top: 0px;">
                <div class="caption">
                    <span class="caption-subject bold uppercase">
                </div>
                <div class="tools">
                    <a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body" style="padding: 0px;">

                <div class="mt-widget-2  cursor-pointer ajax padding-bot-20">
                    <div class="row">
                        <div class="col-sm-3 text-left">
                            {% if (article.image and article.image.file) and (article.images|length > 0) %}
                                <div class="slideshow">
                                    <ul>
                                        {%if article.image and article.image.file %}
                                            <li><img src="{{ app.request.basePath }}{{ vich_uploader_asset(article.image, 'file')}}" alt="" class="articleImg img-responsive slide-img" /></li>
                                            {% endif %}
                                            {% for img in article.images %}
                                            <li><img src="{{ app.request.basePath }}{{ vich_uploader_asset(img, 'file')}}" alt=""  class="articleImg img-responsive slide-img" /></li>
                                            {% endfor %}
                                    </ul>
                                </div>
                            {% elseif not article.image and article.images|length > 0 %}
                                <div class="slideshow">
                                    <ul>
                                        {% for img in article.images %}
                                            <li><img src="{{ app.request.basePath }}{{ vich_uploader_asset(img, 'file')}}" alt=""  class="articleImg img-responsive slide-img" /></li>
                                            {% endfor %}
                                    </ul>
                                </div>
                            {% elseif not article.image and article.images|length == 1 %}   
                                {% for img in article.images %}
                                    <img src="{{ app.request.basePath }}{{ vich_uploader_asset(img, 'file')}}" alt=""  class="articleImg img-responsive slide-img" />
                                {% endfor %}
                            {% elseif article.image and  article.images|length == 0 %} 
                                <img src="{{ app.request.basePath }}{{ vich_uploader_asset(article.image, 'file')}}" class="articleImg img-responsive" style="max-height: 150px;"/> 
                            {% else %}
                                <img src="{{ asset('bundles/app/images/empty-image.png') }}" class="articleImg img-responsive" style="max-height: 150px;"/> 
                            {% endif %}
                            <div class="padding-left-10">
                                {%if article.type == 'association'%}
                                    {%if article.association%}
                                        <a class="parentArticle" href="{{ path('app_association_update', {id: article.association.id}) }}" >{{article.association.name}}</a>
                                    {%endif%}
                                {%elseif article.type == 'merchant'%}
                                    {%if article.merchant%}
                                        <a class="parentArticle" href="{{ path('app_merchant_update', {id: article.merchant.id}) }}">{{article.merchant.name}}</a>
                                    {%endif%}
                                {%endif%}
                                <br>
                                <span><b>Auteur :</b> {%if article.createBy%}{{article.createBy.lastname}} {{article.createBy.firstname}}{%endif%}</span><br>
                                <span><b>Publié le :</b> {{article.createAt|date("d/m/Y H:i")}} </span><br>
                                {% if article.articleHeading %}
                                <span><b>Type de la publication : </b> {{ article.articleHeading.getTitle() }} </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-4 text-left ajax"  href="{{ path('app_project_view', {id: article.id}) }}" data-target="#project{{article.id}}">
                            <h3>{{article.title}}</h3>
                            <p style="max-height: 100px; overflow-y: hidden">{{article.description|truncate(200)}}</p>
                        </div>
                        <div class="col-sm-5 text-right">
                            <div class="col-sm-12 margin-top-10">
                                {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-success btn-sm updateArticle margin-bot-10" href="{{ path('app_project_update', {id: article.id}) }}" title="Modifier le projet">
                                    <i class=" fa fa-pencil-square"> Modifier</i>
                                </a>
                                <br>

                                <a href="{{ path('app_project_delete', {id: article.id}) }}" class="btn btn-success btn-sm activateArticle margin-bot-10" title="Supprimer le projet" onclick="return confirm('Êtes-vous sur de vouloir supprimer ?');"><i class="fa fa-remove"></i> Supprimer</a>
                                <br>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMMUNITY_SU_ADMIN') %}
                                {%if article.enabled%}
                                    <a href="{{ path('app_project_activate', {id: article.id}) }}" class="btn btn-success btn-sm activateArticle margin-bot-10" title="Désactiver signfie que le projet ne sera plus publié sur l'application. Vous pourrez le réactiver si besoin"><i class=" fa fa-lock"></i> Désactiver</a>
                                {%else%}
                                    <a href="{{ path('app_project_activate', {id: article.id}) }}" class="btn btn-success btn-sm activateArticle margin-bot-10" title="Activer signfie que le projet sera plus publié sur l'application"><i class=" fa fa-lock"></i> Activer</a>
                                {%endif%}
                                <br>
                                {% endif %}
                                <a href="mailto:{%if article.createBy%}{{article.createBy.email}}{%endif%}" class="btn btn-success btn-sm mailtoArticle" title="Contacter l'auteur">
                                    <i class=" fa fa-envelope-o"> Contacter l'auteur</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet box green margin-bot-0">
                    <div class="portlet-title">
                        <div class="caption">Commentaires ({{article.comments|length}})</div>
                        <div class="tools">
                            <a class="expand" href="javascript:;" data-original-title="" title=""> </a>
                        </div>
                    </div>
                    <div class="portlet-body" style="display: none;">
                        <ul class="media-list">
                            {% for comment in article.comments %}
                                {%if comment.parent == null%}
                                    <li class="media separator-comment">
                                        <a class="pull-left" href="javascript:;">
                                            {%if comment.user and comment.user.image and comment.user.image.file%}
                                                <img alt="" class="todo-userpic img-circle" src="{{ app.request.basePath }}{{ vich_uploader_asset(comment.user.image, 'file')}}" style="max-width: 27px; max-height: 27px;"/>
                                            {%else%}
                                                <img class="todo-userpic img-circle" src="{{ asset('bundles/app/images/empty-user.png') }}" style="max-width: 27px; max-height: 27px;">
                                            {%endif%}
                                        </a>
                                        <div class="media-body todo-comment">
                                            <div class="comment">
                                                <p class="todo-comment-head">
                                                    <span class="todo-comment-username bold">{%if comment.user%}{{comment.user.lastname}} {{comment.user.firstname}}{%endif%}</span>
                                                    <span class="todo-comment-date">le {{comment.createAt|date("d/m/Y H:i")}}</span>
                                                </p>
                                                <p class="todo-text-color">{{comment.content}}</p>
                                            </div>
                                            {% for commentChild in comment.comments %}
                                                <div class="media separator-comment-child">
                                                    <a class="pull-left" href="javascript:;">
                                                        {%if commentChild.user and commentChild.user.image and commentChild.user.image.file%}
                                                            <img alt="" class="todo-userpic img-circle" src="{{ app.request.basePath }}{{ vich_uploader_asset(commentChild.user.image, 'file')}}" style="max-width: 27px; max-height: 27px;"/>
                                                        {%else%}
                                                            <img class="todo-userpic img-circle" src="{{ asset('bundles/app/images/empty-user.png') }}" style="max-width: 27px; max-height: 27px;">
                                                        {%endif%}
                                                    </a>
                                                    <div class="media-body">
                                                        <div class="comment">
                                                            <p class="todo-comment-head">
                                                                <span class="todo-comment-username bold">{%if commentChild.user%}{{commentChild.user.lastname}} {{commentChild.user.firstname}}{%endif%}</span>
                                                                <span class="todo-comment-date">le {{commentChild.createAt|date("d/m/Y H:i")}}</span>
                                                            </p>
                                                            <p class="todo-text-color">{{commentChild.content}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </li>
                                {%endif%}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="separator row"></div>
{% endfor %}