<div aria-hidden="true" role="dialog" tabindex="-1" id="article{{entity.id}}" class="modal fade bs-modal-lg in" style="display: block; padding-right: 16px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
                <h4 class="modal-title">{{entity.title}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <span><b>Description</b> : {{entity.description}}</span>
                        </div>
                        <div class="form-group">
                            <span><b>Créé le</b> {%if entity.createAt%}{{entity.createAt|date("d/m/Y H:i")}}{%endif%} <b>par</b> {%if entity.createBy%}{{entity.createBy.lastname}} {{entity.createBy.firstname}}{%endif%}</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                {%if entity.enabled%}
                    <a href="{{ path('app_article_activate', {id: entity.id}) }}" class="btn btn-success btn-outline activateArticle" title="Désactiver signfie que l'article ne sera plus publié sur l'application. Vous pourrez le réactiver si besoin"><i class=" fa fa-lock"></i> Désactiver</a>
                {%else%}
                    <a href="{{ path('app_article_activate', {id: entity.id}) }}" class="btn btn-success btn-outline activateArticle" title="Activer signfie que l'article sera plus publié sur l'application"><i class=" fa fa-lock"></i> Activer</a>
                {%endif%}
                {% if is_granted('ROLE_ADMIN')%}
                <a href="{{ path('app_article_update', {id: entity.id}) }}" class="btn btn-success btn-outline" type="button"> <i class=" fa fa-pencil-square"> Modifier l'article</i></a>
                {% endif %}
                <button data-dismiss="modal" class="btn dark btn-outline" type="button">Fermer</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>