{% extends 'AppBundle::layout.html.twig' %}
{% block breadcrumb %}
    <li>
        <span>Mon profil</span>
    </li>
{% endblock %}
{% block pagetitle %}
    <h3 class="page-title"> Mon profil</h3>
{% endblock %}



{% block maincontent %}
    {{ form_start(formPass) }}
    {{ form_errors(formPass) }}
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">Sécurité</div>
            <div class="tools">
                <a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body" style="display: block;">
            <div class="row">
                <div class="col-sm-12">

                    <div class="form-group">
                        {{ form_label(formPass.oldPassword, "Mot de passe actuel") }}
                        {{ form_widget(formPass.oldPassword, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(formPass.oldPassword) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(formPass.plainPassword.first, "Nouveau mot de passe ") }}
                        {{ form_widget(formPass.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(formPass.plainPassword.first) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(formPass.plainPassword.second, "Vérification") }}
                        {{ form_widget(formPass.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(formPass.plainPassword.second) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group align-center">
        {{ form_widget(formPass.save, {'attr': {'class': 'btn btn-success btn-lg'}, 'label': 'Valider'}) }}
    </div>
    {{ form_rest(formPass) }}
    {{ form_end(formPass) }}
{% endblock %}
